<div class="container">
  <div class="row">
    <div class="col">
      <h2>The Store</h2>
      <p>Please Select a Category</p>
      <select (change)="filter($event)">
        <option>Electronics</option>
        <option>Furniture</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div
        [ngClass]="{ favorite: i.fav }"
        *ngFor="let i of products"
        class="product card"
      >
        <p>Product: {{ i.title }}</p>

        <p>Price: ${{ i.price }}</p>

        <p>Category: {{ i.category }}</p>
        <div class="m-auto">
          <button (click)="setFavorite(i)" class="btn btn-primary btn-lg m-1">
            Favorite Item
          </button>
          <button (click)="addToCart(i)" class="btn btn-primary btn-lg m-1">
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
